.introduction {
    position: absolute; 
    z-Index: 1;
    margin-top: 50px;
    margin-left: 50px;
}

.greeting {
    margin: 0;    
    font-size: 2em;
}

.offer {
    margin: 20px 0px 0px;
    font-size: 4em;
}

.feature {
    margin: 50px 0px 0px;
    font-size: 1em;
}

.seemoreButton {
    margin-top: 60px;
}